.register-container {
    background-image: url("D:\CDAC Project\MedEasyInFinal\MedEasyIn\FrontEnd V7\public\images\register.jpg");
    
    background-size: cover;
    background-position: center;
  }